:root {
    --max-width: 1024px;
    --dark-color: rgb(16, 17, 16);
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    word-wrap: break-word;
}

p {
    margin: 5px 0;
}

.btn-black {
    background-color: var(--dark-color) !important;
    color: #FFF;
}

.max-width {
    max-width: var(--max-width);
    width: 100%;
}

.logo {
    max-width: 40px;
    width: 100%;
}

.ck-editor__editable_inline {
    min-height: 300px;
}